@import "styles/variables";
@import "styles/mixins";

.button {
  @include resetDefaultButtonStyles;

  display: grid;
  height: 32px;
  padding: 0 16px;
  background-color: $colorButtonBase;
  border-radius: 4px;
  cursor: pointer;
  place-items: center;

  &:hover#{&}:not(:disabled) {
    background-color: $colorButtonHover;
  }

  &:disabled {
    color: $colorFontDisabled;
    cursor: auto;
  }
}
