@mixin resetDefaultButtonStyles {
  margin: 0;
  padding: 0;
  color: inherit;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  appearance: none;
}

@mixin sectionHeader {
  margin-bottom: 8px;
}

@mixin inputSelectStyles {
  padding: 8px;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 0 0 1px rgb(180 180 180) inset;

  &:hover {
    background-color: rgb(243 243 243);
    box-shadow: 0 0 0 1px rgb(151 151 151) inset;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 1px  rgb(37 37 37) inset;
  }
}
