$colorBackground: #f9f8f1;
$colorCardBackground: #fff;

$colorButtonBase: #e4f2fa;
$colorButtonHover: #daf0fc;
$colorFontDisabled: #a1a1a1;

$colorAccent: #cbbaf3;

$boxShadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
